<head>
    <style>
        * {
          box-sizing: border-box;
        }
        .column {
          float: left;
          width: 33.33%;
          padding: 5px;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
    </style>
    </head>
    <body *ngFor = 'let product of cartItems'>
      <div class="column">
          <img src= {{product.photo}} style="width:70%"> <br/>
          Author : {{product.Author}} <br/>
          Price : {{product.Price | currency : "INR"}} <br/>
      </div>
    </body>