
<body>




<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div>
      <h1>Cleaning</h1>
      
    </div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<div class="container">
  <div class="row text-center">
    <div class="col-xs-2">
        
            
      <figure>
        <img src="assets/kit.jpeg" style="width:200px;height:200px" alt="">
        <figcaption>Kitchen Cleaning</figcaption>
        <div class="w3-container">
          <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
         
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <p>Gas Stove Cleaning</p>
                <p>Shelves & Slabs/Tiles</p>
                <p>Chimney Cleaning</p>
                <p>Floor</p>
              </div>
            </div>
          </div>
        </div>
        
          
       <!-- <button routerLink="kitchenCleaning" type="submit" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white">Select</button>-->
      </figure>
       
    </div>
    <div class="col-xs-4">
      <figure>
        <img src="assets/cr.jpeg" style="width:200px;height:200px" alt="">
        <figcaption>Carpet Cleaning</figcaption>
        <div class="w3-container">
          
          <button onclick="document.getElementById('id03').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
          <div id="id03" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <p>Some text. Some text. Some text.</p>
                <p>Some text. Some text. Some text.</p>
              </div>
            </div>
          </div>
        </div>
      </figure>
    </div>
    <div class="col-xs-0">
      <figure>
        <img src="assets/br.jpeg" style="width:200px;height:200px" alt="">
        <figcaption></figcaption>
        <h6>Bathroom Cleaning</h6>
        <figcaption></figcaption>
        <div class="w3-container">
          
          <button onclick="document.getElementById('id02').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
          <div id="id02" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <p>Some harshini Some text. Some text.</p>
                <p>Some text. Some text. Some text.</p>
              </div>
            </div>
          </div>
        </div>
      </figure>
    </div>
  </div>
</div>

  <div>
    <h1>Appliance Repair</h1>
    
  </div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<div class="container">
<div class="row text-center">
  <div class="col-xs-2">
    
    <figure>
      <img src="assets/wat.jpeg" style="width:200px;height:200px" alt="">
      <h6>Ro or Water Purifier Repair</h6>
      <figcaption></figcaption>
      <div class="w3-container">
          
        <button onclick="document.getElementById('id04').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
        <div id="id04" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p>Some text. Some text. Some text.</p>
              <p>Some text. Some text. Some text.</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="col-xs-4">
    <figure>
      <img src="assets/ac.jpeg" style="width:200px;height:200px" alt="">
      <figcaption>AC Repair</figcaption>
      <figcaption></figcaption>
      <div class="w3-container">
          
        <button onclick="document.getElementById('id05').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
        <div id="id05" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p>Some text. Some text. Some text.</p>
              <p>Some text. Some text. Some text.</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="col-xs--2">
    <figure>
      <img src="assets/fridge.jpeg" style="width:200px;height:200px" alt="">
      <figcaption></figcaption>
      <h6>Fridge Repair</h6>
      <figcaption></figcaption>
      <div class="w3-container">
          
        <button onclick="document.getElementById('id06').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
        <div id="id06" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p>Some text. Some text. Some text.</p>
              <p>Some text. Some text. Some text.</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="col-xs-3">
    <figure>
      <img src="assets/wash.jpeg" style="width:200px;height:200px" alt="">
      <figcaption></figcaption>
      <h6>Washing Machine Repair</h6>
      <figcaption></figcaption>
      <div class="w3-container">
          
        <button onclick="document.getElementById('id07').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
        <div id="id07" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id07').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p>Some text. Some text. Some text.</p>
              <p>Some text. Some text. Some text.</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>
</div>




<div>
    <h1>Electrician, Plumber, Carpenter</h1>
    
  </div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<div class="container">
<div class="row text-center">
  <div class="col-xs-2">
    
    <figure>
      <img src="assets/ele.jpeg" style="width:200px;height:200px" alt="">
      <figcaption>Electrician</figcaption>
      <figcaption></figcaption>
      <div class="w3-container">
          
        <button onclick="document.getElementById('id08').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
        <div id="id08" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id08').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p>Some text. Some text. Some text.</p>
              <p>Some text. Some text. Some text.</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="col-xs-4">
    <figure>
      <img src="assets/carp.jpeg" style="width:200px;height:200px" alt="">
      <figcaption>Carpenter</figcaption>
      <figcaption></figcaption>
      <div class="w3-container">
          
        <button onclick="document.getElementById('id09').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
        <div id="id09" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id09').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p>Some text. Some text. Some text.</p>
              <p>Some text. Some text. Some text.</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="col-xs-0">
    <figure>
      <img src="assets/plum.jpeg" style="width:200px;height:200px" alt="">
      <figcaption></figcaption>
      <h6>Plumber</h6>
      <figcaption></figcaption>
      <div class="w3-container">
          
        <button onclick="document.getElementById('id10').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
        <div id="id10" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id10').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p>Some text. Some text. Some text.</p>
              <p>Some text. Some text. Some text.</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>
</div>

<div>
  <h1>Party Planner</h1>
  
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<div class="container">
<div class="row text-center">
<div class="col-xs-2">
  
  <figure>
    <img src="assets/birday.jpeg" style="width:200px;height:200px" alt="">
    <h6>Birthday Decoration</h6>
    <figcaption></figcaption>
    <div class="w3-container">
          
      <button onclick="document.getElementById('id11').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
      <div id="id11" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('id11').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p>Some text. Some text. Some text.</p>
            <p>Some text. Some text. Some text.</p>
          </div>
        </div>
      </div>
    </div>
  </figure>
</div>
<div class="col-xs-4">
  <figure>
    <img src="assets/fam.jpeg" style="width:200px;height:200px" alt="">
    <figcaption>Family Events</figcaption>
    <figcaption></figcaption>
    <div class="w3-container">
          
      <button onclick="document.getElementById('id11').style.display='block'" class="btn btn-default" id="login"  style="background-color:rgb(238, 82, 34);color:white" (click)="addToCart(product)">Select</button>
      <div id="id11" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('id11').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p>Some text. Some text. Some text.</p>
            <p>Some text. Some text. Some text.</p>
          </div>
        </div>
      </div>
    </div>
  </figure>
</div>

</div>
</div>


</body>